[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HeterFunctionalData"]
	path = HeterFunctionalData
	url = https://github.com/cran/HeterFunctionalData
[submodule "PSSIM"]
	path = PSSIM
	url = https://github.com/cran/PSSIM
